<div (scroll)="onScroll($event)" class="scroll-container">
	<slider-toolbar
		[isLoading]="isPageLoading"
		mode="chips"
		[items]="categories"
		(onChangeCategory)="setCategory($event)"
	></slider-toolbar>
	<div fxLayout="row wrap">
		<div
			class="fxItem"
			fxFlex="25%"
			fxFlex.lg="33.33%"
			fxFlex.lt-lg="50%"
			fxFlex.xs="100%"
			*ngFor="let featuredVideo of featuredVideos"
		>
			<app-video-card
				[video]="featuredVideo"
				[cardMenuItems]="cardMenuItems"
				cardSize="large"
			></app-video-card>
		</div>
		<div
			class="fxItem"
			fxFlex="25%"
			fxFlex.lg="33.33%"
			fxFlex.lt-lg="50%"
			fxFlex.xs="100%"
			[ngStyle]="{ padding: (isDataFetching || isPageLoading) ? '10px' : '0' }"
			*ngFor="let skelton of [1, 2, 3, 4, 5, 6]"
		>
			<app-video-card
				*ngIf="isDataFetching || isPageLoading"
				cardSize="large"
				[isLoading]="isDataFetching || isPageLoading"
			></app-video-card>
		</div>
	</div>
	<app-error-message
		*ngIf="errorObject"
		[errorObject]="errorObject"
		(onRetryClick)="fetchData(false)"
	></app-error-message>
</div>
