.channel-form-container {
	margin: 40px 10px 110px 0;
	width: 100%;
	max-width: 800px;
	box-sizing: border-box;
}
mat-form-field {
	width: 100%;
	margin-bottom: 10px;
}

.section label {
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.section p {
	font-size: 13px;
	font-weight: 400;
	color: gray;
	margin-bottom: 12px;
}
.mat-title {
	margin-bottom: 20px;
	font-weight: 500;
}
.custom-form-field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid gray;
	border-radius: 5px;
	position: relative;
	padding: 10px 15px;
	margin-bottom: 35px;
	box-sizing: border-box;
}
.custom-form-field input {
	outline: none;
	border: none;
	font-size: 16px;
	width: 100%;
}
.custom-form-field button {
	position: absolute;
	right: 0;
}

textarea {
	resize: none;
	overflow: hidden; /* Hide the scrollbar */
	height: auto;
}
.action-container {
	position: fixed;
	bottom: 0;
	z-index: 2;
	background-color: white;
	display: flex;
	width: calc(100vw - 298px);
	padding: 15px 41px;
	justify-content: end;
	box-sizing: border-box;
	gap: 10px;
}
@media screen and (max-width: 600px) {
	.action-container {
		width: 100vw;
		padding: 12px 40px;
	}
	.channel-form-container {
		margin: 20px 0 75px 0;
	}
}
