<div class="scroll-container">
  <span class="btn-cover left-btn" [ngClass]="{ hidden: !leftButton }"> </span>
  <button
    [ngClass]="{ hidden: !leftButton }"
    class="mat-button left-btn"
    mat-icon-button
    (click)="scrollTo(false)"
    aria-label="Scroll Left"
  >
    <mat-icon style="right: -2px">arrow_back_ios</mat-icon>
  </button>

  <div #scrollableContent class="scrollable-content">
    <span
      *ngFor="let item of categories; let i = index"
      class="mat-chip"
      [ngClass]="{ active: activeButtonIndex === i }"
      (click)="filterList(item, i)"
      >{{ item }}</span
    >
  </div>

  <span class="btn-cover right-btn" [ngClass]="{ hidden: !rightButton }">
  </span>
  <button
    [ngClass]="{ hidden: !rightButton }"
    class="mat-button right-btn"
    mat-icon-button
    (click)="scrollTo(true)"
    aria-label="Scroll Right"
  >
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
