.commentor-img {
  background-size: cover;
}
.comment-content {
  min-width: 0;
}
.comment-header {
  align-items: baseline;
  display: flex;
  margin-bottom: 3px;
}
.comment-header a {
  line-height: normal;
  font-size: 13px;
  margin-right: 4px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.comment-header p {
  font-size: 12px;
  line-height: normal;
  color: var(--theme-font-shadow);
  font-weight: 400;
}
.comment-body {
  position: relative;
}
.comment-body p {
  display: -webkit-box;
  overflow: hidden;
  max-height: none;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: 14px;
  transition: max-height 0.8s ease-out;
  line-height: 1.5; /* Adjust line height as needed */
  max-height: calc(1.5em * 4); /* Allows a maximum of 4 lines */
}

.comment-body p.expanded {
  -webkit-line-clamp: unset;
  max-height: 400px;
}
.comment-body .more-btn {
  display: none;
  font-weight: 500;
  cursor: pointer;
  color: gray;
  margin-top: 8px;
}
.comment-body .paragraph:not(:-webkit-line-clamp) .more-btn {
  display: block;
}
.comment-actions{
   margin-left: -9px;
   color: gray;
   font-size: 13px;
}
.hideReport{
  display: none;
}
.hideOthers{
  display: none !important;
}
h3{
   font-size: 16px !important;
   font-weight: 500;
}

.commentor-img.skeleton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comment-content.skeleton {
  width: 100%;
  height: 100px;
}
