<header>
  <div
    [ngStyle]="{ 'background-image': coverImage }"
    class="cover-image-container"
  >
    <!-- <img src="https://ap-south-app-bucket.s3.ap-south-1.amazonaws.com/Thumbnail/9fab9749-c798-433a-93e0-d9430d03b49d.png" alt="cover image" class="cover-image"> -->
  </div>
  <div class="details-container">
    <div class="profile-image-container">
      <div
        [ngStyle]="{ 'background-image': coverImage }"
        class="profile-image"
      ></div>
    </div>
    <div class="header-details" >
      <h1>Title of the channel</h1>
      <p>&#64;numofcode • 3.69K subscribers • 26 videos</p>
      <p>Welcome to numofcode ....</p>
      <a href="http://">instagram.com/numofcodevt</a>
      <div>
         <button mat-raised-button> Subscribe</button>
      </div>
    </div>
  </div>
</header>
<mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Basic Info">
   <app-user-form></app-user-form>
  </mat-tab>
  <mat-tab label="Branding">Content 2</mat-tab>
</mat-tab-group>
