<form class="example-form" [formGroup]="commentsForm">
	<div class="text-container">
		<textarea
			matInput
			[formControl]="comment"
			rows="1"
			placeholder="Add a comment..."
			(input)="autoGrow($event)"
			(focus)="onFocus()"
			#inputElement
		></textarea>
	</div>
	<div fxLayout="row" fxLayoutAlign="end" *ngIf="isFocus">
		<div class="form-btns">
			<button class="cancel-btn" (click)="onCancel()">Cancel</button>
			<button class="comment-btn" [disabled]="!comment.value" (click)="handleSubmit()">
				{{submitName}}
			</button>
		</div>
	</div>
</form>
