.example-card {
  /* max-width: 400px; */
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}
.example-card img {
  border-radius: 15px;
  max-height: 197px;
}
.example-card .skeleton-img {
  height: 180px;
}
mat-card-header{
  padding: 16px 0 0 0;
}
mat-card-header.loading{
  padding: 0;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.example-header-image.skeleton {
  background-image: none;
  width: 40px;
  height: 40px;
  margin-right: 13px;
}

mat-card-title {
  font-size: 16px;
  line-height: 2rem;
  font-weight: 500;
  overflow: hidden;
  padding: 0 0 0 16px !important;
}
mat-card-title.skeleton {
  width: 60%;
  height: 20px;
  padding: 0;
  position: absolute;
}
mat-card-subtitle{
  color: #606060;
  font-size: 13px;
  line-height: 2rem;
  font-weight: 400;
  overflow: hidden;
  padding: 0 0 0 16px !important;
}
mat-card-subtitle a {
  color: #606060;
}
mat-card-subtitle a:hover {
  color: #1f1f1f;
}
mat-card-subtitle.skeleton {
  width: 40%;
  height: 20px;
  position: absolute;
  bottom: 6px;
}
