.example-card {
  /* max-width: 400px; */
}
.example-card img{
  border-radius: 15px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
mat-card{
  box-shadow: none;
  border-radius: 0;
}
mat-card-title{
  font-size: 16px;
  line-height: 2rem;
  font-weight: 500;
  overflow: hidden;
}
mat-card-subtitle {
  color: #606060;
  font-size: 13px;
  line-height: 2rem;
  font-weight: 400;
  overflow: hidden;
}
