<h2>Latest video performance</h2>
<div class="img-container">
	<img
		src="https://ap-south-app-bucket.s3.ap-south-1.amazonaws.com/Thumbnail/9fab9749-c798-433a-93e0-d9430d03b49d.png"
		alt=""
	/>
	<p>Linux Commands - Episode 03 (User and Group management) | FourBitLK</p>
</div>
<p class="special-text">First 138 days 4 hours:</p>
<div class="table-row">
	<p>Views</p>
	<p>12</p>
</div>
<div class="table-row">
	<p>Impressions click-through rate</p>
	<p>7.3%</p>
</div>
<div class="table-row">
	<p>Average view duration</p>
	<p>3:49</p>
</div>
<button mat-button>Go to video analytics</button>
<button mat-button>See comments(3)</button>
