<div class="scroll-container">
	<h2 class="main-title">Channel dashboard</h2>
	<div class="fxLayout" fxLayout="row wrap" fxLayoutGap="20px grid">
		<div class="fxCol" fxFlex="33.3%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
			<div class="dashboard-card">
				<app-video-analytic></app-video-analytic>
			</div>
		</div>
		<div class="fxCol" fxFlex="33.3%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
			<div class="dashboard-card">
				<app-channel-analytic></app-channel-analytic>
			</div>
		</div>
		<div class="fxCol" fxFlex="33.3%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
			<div class="dashboard-card">
				<h2>News</h2>
				<img src="roundUp.png" alt="" />
				<h3>Your Monthly Roundup is here!</h3>
				<p class="special-text">
					Watch this month's Creator Roundup for all your updates. Get the latest on everything
					you need to know as a Creator.
				</p>
				<button mat-button>Check it out</button>
			</div>
		</div>
	</div>
</div>
