<mat-dialog-content>
	<div class="mat-progress-bar">
		<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
	</div>
	<mat-stepper
		labelPosition="bottom"
		[(selectedIndex)]="currentStep"
		linear
		#stepper
		animationDuration="0"
	>
		<mat-step editable="false">
			<ng-template matStepLabel>Upload Video</ng-template>
			<div #stepOne *ngIf="currentStep == 0">
				<div class="stepper-body">
					<app-file-manager fileType="Video" (onFileChange)="setFile($event)"></app-file-manager>
				</div>
			</div>
		</mat-step>
		<mat-step editable="false" matStepperDisabler>
			<ng-template matStepLabel>Upload thumbnail</ng-template>
			<div *ngIf="currentStep == 1">
				<div class="stepper-body">
					<app-file-manager fileType="Image" (onFileChange)="setFile($event)"></app-file-manager>
				</div>
			</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>Video Details</ng-template>
			<div *ngIf="currentStep == 2">
				<div class="stepper-body">
					<app-video-form
						(onLoadChange)="setIsLoading($event)"
						[isNew]="true"
						[video]="video"
						(hasAnyChanges)="onAnyChange($event)"
					></app-video-form>
				</div>
			</div>
		</mat-step>
	</mat-stepper>
</mat-dialog-content>
<mat-dialog-actions>
	<button *ngIf="currentStep == 0" mat-button (click)="closeDialogBox()">Cancel</button>
	<button
		mat-button
		*ngIf="currentStep == 0"
		(click)="uploadVideo(stepper)"
		[disabled]="!file || isLoading"
	>
		Upload
	</button>
	<button
		mat-button
		*ngIf="currentStep == 1"
		(click)="uploadThumbnail(stepper)"
		[disabled]="!file || isLoading"
	>
		Upload
	</button>
	<button
		mat-raised-button
		*ngIf="currentStep == 2"
		[disabled]="!isAnyChange || isLoading"
		(click)="reset()"
	>
		Reset
	</button>
	<button
		mat-raised-button
		*ngIf="currentStep == 2"
		[disabled]="!isAnyChange || isLoading"
		(click)="saveChanges()"
	>
		Save
	</button>
</mat-dialog-actions>
