.title-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
}
.title-section h2 {
	font-size: 18px;
}
.title-section button {
	font-size: 13px;
	padding: 8px;
	height: auto;
}
#slider-toolbar {
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
}

@media screen and (max-width: 600px) {
	.scroll-container {
		padding: 0;
	}
}
