mat-form-field {
  width: 100%;
  margin-bottom: 6px;
}
.mat-title {
  margin-bottom: 20px;
  font-weight: 500;
}
textarea {
  resize: none;
  overflow: hidden; /* Hide the scrollbar */
  height: auto;
}