<div class="user-form-container">
	<form [formGroup]="userDetails" #form>
		<div class="section">
			<label>First Name</label>
			<p>
				Choose a channel name that represents you and your content. Changes made to your
				name and picture are visible only on YouTube and not other Google services. You can
				change your name twice in 14 days.
			</p>
			<mat-form-field appearance="outline" hideRequiredMarker="true" floatLable="auto">
				<input
					matInput
					placeholder="Enter Channel Name"
					[formControl]="firstName"
					(blur)="updateErrorMessage('firstName')"
					required
				/>
				@if (firstName.invalid){
				<mat-error>{{ errorMessage.firstName }}</mat-error>
				}
			</mat-form-field>
		</div>
		<div class="section">
			<label>Last Name</label>
			<p>
				Choose a channel name that represents you and your content. Changes made to your
				name and picture are visible only on YouTube and not other Google services. You can
				change your name twice in 14 days.
			</p>
			<mat-form-field appearance="outline" hideRequiredMarker="true" floatLable="auto">
				<input
					matInput
					placeholder="Enter Channel Name"
					[formControl]="lastName"
					(blur)="updateErrorMessage('lastName')"
					required
				/>
				@if (lastName.invalid){
				<mat-error>{{ errorMessage.lastName }}</mat-error>
				}
			</mat-form-field>
		</div>
		<div class="section">
			<label>About</label>
			<p>
				Tell viewers about your channel. Your description will appear in the About section
				of your channel and search result, among other places.
			</p>
			<mat-form-field appearance="outline" hideRequiredMarker="true" floatLable="auto">
				<textarea
					matInput
					[formControl]="about"
					rows="5"
					placeholder="Enter Description"
					(input)="autoGrow($event)"
				></textarea>
			</mat-form-field>
		</div>
		<div class="section">
			<label>Email</label>
			<p>
				This is the standard web address for your channel. It includes your unique channel
				ID, which is the numbers and letters at the end of the URL.
			</p>
			<div class="custom-form-field">
				<input mat-input type="text" [value]="logginUser?.email" readonly />
			</div>
		</div>
	</form>
</div>
