:host{
  display: flex;
  height: 70%;
}
.error-message-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.image-container{
  width: 150px;
}
.messages-div {
  margin: 24px auto 24px;
}
.messages-div h2 {
  font-weight: 400;
  margin-bottom: 16px;
}
.messages-div p {
  font-size: 14px;
  font-weight: 400;
}
