.branding-container{
  margin-top: 20px;
}
.example-card {
   border: none;
   margin-bottom: 20px;
}
mat-card-header{
   padding: 0;
}
mat-card-title{
  font-size: 16px;
  font-weight: 500;
}
mat-card-subtitle, mat-card-content {
  font-size: 13px;
  font-weight: 400;
  color: gray;
}

mat-card-title-group {
  margin-top: 8px;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-width: 290px;
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
}
.img-container #profile-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  cursor: pointer;
}
.img-container #banner-img{
  width: 100%;
}
mat-card-content {
  width: 330px;
}
mat-card-actions{
  gap: 10px;
}
