<div class="branding-container">
	<mat-card class="example-card" appearance="outlined">
		<mat-card-header>
			<mat-card-title>{{ type }} Picture</mat-card-title>
			<mat-card-subtitle>
				Your profile picture will appear where your channel is presented on {{ productName }},
				like next to your videos and comments
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-title-group>
			<div class="img-container">
				<img
					matTooltip="Change Picture"
					(click)="fileInput.click()"
					id="profile-img"
					[src]="pictureObjUrl || '/assets/no-person.png'"
				/>
			</div>
			<input
				type="file"
				#fileInput
				(change)="onProfileImageChange($event)"
				[accept]="imageExtensions"
				hidden
			/>
			<mat-card-content>
				It’s recommended to use a picture that’s at least 98 x 98 pixels and 4MB or less. Use a
				PNG or GIF (no animations) file. Make sure your picture follows the
				{{ productName }} Community Guidelines.
				<mat-card-actions>
					<button
						mat-flat-button
						[disabled]="isLoading"
						*ngIf="!selectedPictureFile"
						(click)="fileInput.click()"
					>
						Change
					</button>
					<button
						mat-flat-button
						[disabled]="isLoading"
						*ngIf="selectedPictureFile"
						(click)="onPictureUpload.emit(selectedPictureFile)"
					>
						Upload
					</button>
					<button
						mat-button
						[disabled]="isLoading"
						*ngIf="selectedPictureFile"
						(click)="resetPicture()"
					>
						Reset
					</button>
				</mat-card-actions>
			</mat-card-content>
		</mat-card-title-group>
	</mat-card>
	<mat-card *ngIf="type == 'Channel'" class="example-card" appearance="outlined">
		<mat-card-header>
			<mat-card-title>Banner Image</mat-card-title>
			<mat-card-subtitle>
				This image will appear across the top of your channel
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-title-group>
			<div class="img-container">
				<img
					matTooltip="Change Banner"
					(click)="bannerfileInput.click()"
					id="banner-img"
					[src]="bannerObjUrl || '/assets/desktop-baner.png'"
				/>
			</div>
			<input
				type="file"
				#bannerfileInput
				(change)="onBannerImageChange($event)"
				[accept]="imageExtensions"
				hidden
			/>
			<mat-card-content>
				For the best results on all devices, use an image that’s at least 2048 x 1152 pixels and
				6MB or less.
				<mat-card-actions>
					<button
						[disabled]="isLoading"
						mat-flat-button
						*ngIf="!selectedBannerFile"
						(click)="bannerfileInput.click()"
					>
						Change
					</button>
					<button
						[disabled]="isLoading"
						mat-flat-button
						*ngIf="selectedBannerFile"
						(click)="onBannerUpload.emit(selectedBannerFile)"
					>
						Upload
					</button>
					<button
						[disabled]="isLoading"
						mat-button
						*ngIf="selectedBannerFile"
						(click)="resetBannerImage()"
					>
						Reset
					</button>
				</mat-card-actions>
			</mat-card-content>
		</mat-card-title-group>
	</mat-card>
</div>
