<div fxLayout="row" class="main-container">
	<div fxFlex class="video-details-container">
		<app-video-player
			[isLoading]="isLoading"
			[videoSource]="video?.videoUrl || ''"
			class="video-player"
		></app-video-player>
		<div class="meta-data">
			<div class="video-title">
				<h1 [ngClass]="{ skeleton: isLoading }">
					{{ video?.title }}
				</h1>
			</div>
			<div fxLayout="row wrap">
				<div [fxFlex]="isLoading ? '100%' : '50%'">
					<mat-card-header [ngClass]="{ loading: isLoading }">
						<div
							mat-card-avatar
							class="example-header-image"
							[ngStyle]="{
								'background-image': isLoading
									? 'none'
									: video?.channel?.channelImage
									? video?.channel?.channelImage
									: 'url(\'/assets/no-person.png\')'
							}"
							[ngClass]="{ skeleton: isLoading }"
						></div>
						<div class="details" [ngClass]="{ loading: isLoading }">
							<mat-card-title [ngClass]="{ skeleton: isLoading }">
								<a href="/">{{ video && video.channel?.name }}</a>
							</mat-card-title>
							<mat-card-subtitle [ngClass]="{ skeleton: isLoading }">
								{{ video && video.channel?.subscribersCount + ' subscribers' }}
							</mat-card-subtitle>
						</div>
						<button
							*ngIf="!video?.channel?.isUserSubscribe"
							class="subscribe-button"
							mat-flat-button
							color="warn"
							[ngClass]="{ skeleton: isLoading }"
							(click)="subscribeChannel()"
						>
							{{ isLoading ? '' : 'Subscribe' }}
						</button>
						<button
							[ngClass]="{ skeleton: isLoading }"
							*ngIf="video?.channel?.isUserSubscribe"
							class="unsubscribe-button"
							mat-flat-button
							(click)="unSubscribeChannel()"
						>
							{{ isLoading ? '' : 'Unsubscribe' }}
						</button>
					</mat-card-header>
				</div>
				<div *ngIf="!isLoading" fxFlex="50%" fxLayoutAlign="end">
					<div class="actions">
						<span class="like-dislike-btn-group">
							<button class="like-btn" (click)="likeVideo()">
								<div class="right-border">
									<mat-icon
										[fontIcon]="
											video?.userLikeStatus?.isUserLike
												? 'thumb_up_alt'
												: 'thumb_up_off_alt'
										"
									></mat-icon>
									{{ video?.likesCount !== 0 ? video?.likesCount : '' }}
								</div>
							</button>
							<button class="dislike-btn" (click)="dislikeVideo()">
								<mat-icon
									[fontIcon]="
										video?.userLikeStatus?.isUserDislike
											? 'thumb_down_alt'
											: 'thumb_down_off_alt'
									"
								></mat-icon>
								{{ video?.dislikesCount !== 0 ? video?.dislikesCount : '' }}
							</button>
						</span>
						<button (click)="downloadVideo()">
							<mat-icon>vertical_align_bottom</mat-icon>
							Download
						</button>
						<button id="menu-btn">
							<mat-icon [matMenuTriggerFor]="menu">more_horiz</mat-icon>
						</button>
						<mat-menu #menu="matMenu" class="custom-menu">
							<button
								mat-menu-item
								*ngFor="let item of cardMenuItems"
								[disabled]="item.isDisable"
								(click)="handleMenuClick(item.name)"
							>
								<mat-icon>{{ item.icon }}</mat-icon>
								<span>{{ item.name }}</span>
							</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</div>

		<div class="video-description" [ngClass]="{ skeleton: isLoading }">
			<p [ngClass]="{ expanded: isExpanded }">
				{{ video && video.viewsCount + ' views,' }}
				<span></span>
				{{ video && video.createdTime | date }}
				<br />
				<br />
				{{ video?.description }}
			</p>
			<span class="more-btn" (click)="toggleExpand()" *ngIf="video?.description">
				{{ isExpanded ? 'less' : '...more' }}
			</span>
		</div>
		<app-comment [videoId]="videoId" [isAuth]="isAuthenticated"></app-comment>
	</div>
	<div class="related-videos-container" fxFlex="402px">
		<ng-container
			*ngIf="isVideoListLoading; then loadingTemplate; else contentTemplate"
		></ng-container>
		<ng-template #loadingTemplate>
			<div fxLayout="column" fxLayoutGap="10px">
				<div class="fxItem" fxFlex="100%" *ngFor="let skelton of [1, 2, 3, 4, 5]">
					<app-video-card cardSize="small" [isLoading]="isVideoListLoading"></app-video-card>
				</div>
			</div>
		</ng-template>
		<ng-template #contentTemplate>
			<div fxLayout="column" fxLayoutGap="10px">
				<div class="fxItem" fxFlex="100%" *ngFor="let video of videoList">
					<app-video-card
						[video]="video"
						[isLoading]="isVideoListLoading"
						cardSize="small"
					></app-video-card>
				</div>
			</div>
		</ng-template>
	</div>
</div>
