<!-- <div (scroll)="onScroll($event)" class="scroll-container"></div> -->
<div (scroll)="onScroll($event)" fxLayout="row" class="main-container scroll-container">
	<div fxFlex class="video-details-container">
		<app-video-player
			[isLoading]="isLoading"
			[videoSource]="video?.videoUrl || ''"
			[video]="video"
			class="video-player"
		></app-video-player>
		<div class="meta-data">
			<div class="video-title">
				<h1 [ngClass]="{ skeleton: isLoading }">
					{{ video?.title }}
				</h1>
			</div>
			<div fxLayout="row" fxLayout.xs="column">
				<div fxFlex="100%">
					<mat-card-header [ngClass]="{ loading: isLoading }">
						<div
							(click)="gotoChannel()"
							mat-card-avatar
							class="example-header-image"
							[ngStyle]="{
								'background-image': isLoading
									? 'none'
									: 'url(' + (video?.channel?.channelImage || 'assets/no-person.png') + ')'
							}"
							[ngClass]="{ skeleton: isLoading }"
						></div>
						<div class="details" [ngClass]="{ loading: isLoading }">
							<mat-card-title [ngClass]="{ skeleton: isLoading }">
								<a href="/" class="text-overflow-1">{{ video && video.channel?.name }}</a>
							</mat-card-title>
							<mat-card-subtitle [ngClass]="{ skeleton: isLoading }">
								{{ video && video.channel?.subscribersCount + ' subscribers' }}
							</mat-card-subtitle>
						</div>
						<button
							*ngIf="!video?.channel?.isUserSubscribe"
							class="subscribe-button"
							mat-flat-button
							color="warn"
							[ngClass]="{ skeleton: isLoading }"
							(click)="subscribeChannel()"
						>
							{{ isLoading ? '' : 'Subscribe' }}
						</button>
						<button
							[ngClass]="{ skeleton: isLoading }"
							*ngIf="video?.channel?.isUserSubscribe"
							class="unsubscribe-button"
							mat-flat-button
							(click)="unSubscribeChannel()"
						>
							{{ isLoading ? '' : 'Unsubscribe' }}
						</button>
					</mat-card-header>
				</div>
				<div *ngIf="!isLoading" fxFlex="100%" fxLayoutAlign.gt-xs="end">
					<div
						class="actions"
						fxFlex.xs="100%"
						fxLayout="row"
						fxLayoutAlign.xs="space-between"
					>
						<div fxLayout="row" fxLayoutGap="10px">
							<span class="like-dislike-btn-group">
								<button class="like-btn" (click)="likeVideo()">
									<div class="right-border">
										<mat-icon
											[fontIcon]="
												video?.userLikeStatus?.isUserLike
													? 'thumb_up_alt'
													: 'thumb_up_off_alt'
											"
										></mat-icon>
										{{ video?.likesCount !== 0 ? video?.likesCount : '' }}
									</div>
								</button>
								<button class="dislike-btn" (click)="dislikeVideo()">
									<mat-icon
										[fontIcon]="
											video?.userLikeStatus?.isUserDislike
												? 'thumb_down_alt'
												: 'thumb_down_off_alt'
										"
									></mat-icon>
									{{ video?.dislikesCount !== 0 ? video?.dislikesCount : '' }}
								</button>
							</span>
							<button (click)="downloadVideo()" [disabled]="!isAuthenticated">
								<mat-icon>vertical_align_bottom</mat-icon>
								Download
							</button>
						</div>

						<button id="menu-btn">
							<mat-icon [matMenuTriggerFor]="menu">more_horiz</mat-icon>
						</button>
						<mat-menu #menu="matMenu" class="custom-menu">
							<button
								mat-menu-item
								*ngFor="let item of videoMenuItems"
								[disabled]="item.isDisable"
								(click)="handleMenuClick(item.action)"
							>
								<mat-icon>{{ item.icon }}</mat-icon>
								<span>{{ item.name }}</span>
							</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</div>

		<div class="video-description" [ngClass]="{ skeleton: isLoading }">
			<p [ngClass]="{ expanded: isExpanded }">
				{{ video && video.viewsCount + ' views,' }}
				<span></span>
				{{ video && video.createdTime | date }}
				<br />
				<br />
				{{ video?.description }}
			</p>
			<span class="more-btn" (click)="toggleExpand()" *ngIf="video?.description">
				{{ isExpanded ? 'less' : '...more' }}
			</span>
		</div>
		<app-comment (onUnauthAction)="openDialogBox($event.action,$event.type)" [videoId]="videoId" [isAuth]="isAuthenticated"></app-comment>
	</div>
	<div class="related-videos-container" fxFlex="402px">
		<ng-container
			*ngIf="isVideoListLoading; then loadingTemplate; else contentTemplate"
		></ng-container>
		<ng-template #loadingTemplate>
			<div fxLayout="column" fxLayoutGap="10px">
				<div class="fxItem" fxFlex="100%" *ngFor="let skelton of [1, 2, 3, 4, 5]">
					<app-video-card cardSize="small" [isLoading]="isVideoListLoading"></app-video-card>
				</div>
			</div>
		</ng-template>
		<ng-template #contentTemplate>
			<div fxLayout="column" fxLayoutGap="10px">
				<div class="fxItem" fxFlex="100%" *ngFor="let video of videoList">
					<app-video-card
						[video]="video"
						[isLoading]="isVideoListLoading"
						cardSize="small"
						[cardMenuItems]="videoCardMenuItems"
					></app-video-card>
				</div>
				<div
					class="fxItem progress-spinner"
					*ngIf="isVideoDataFetching"
					fxFlex="100%" 
				>
					<mat-spinner diameter="50"></mat-spinner>
				</div>
			</div>
		</ng-template>
	</div>
</div>
