<mat-toolbar class="example-toolbar">
  <mat-toolbar-row>
    <button class="menu-button" [style]="isMobile ? 'display: block;' : 'display: none'" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">MediaPulse</h1>

    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="gotoVideoUpload()"
    >
      <mat-icon>video_call</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon matBadge="15" aria-hidden="false">notifications</mat-icon>
    </button>
    <button
      *ngIf="isAuthenticated; else noAuth"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="logout()"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <ng-template #noAuth>
      <button mat-raised-button (click)="login()">Login</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
