/* You can add global styles to this file, and also import other style files */
:root {
  --hover-bg-color: rgba(231, 231, 231, 0.747);
  --theme-shadow-color: rgb(111, 161, 226);
  --link-color: rgb(0, 140, 255);
  --theme-font-shadow: rgb(110, 110, 110);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
.dialogbox-title {
  font-weight: 500 !important;
  font-size: 21px !important;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dialog-close-btn {
  width: 36px;
  height: 36px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.dialog-close-btn:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}
.fxLayout {
  margin: 0 !important;
}
.fxItem {
  padding: 10px;
}
.text-overflow-1, .text-overflow-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-overflow-1{
  -webkit-line-clamp: 1;
}
.text-overflow-2{
  -webkit-line-clamp: 2;
}
.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 13px;
  animation: skeleton-loading 1.5s infinite linear;
}
.mat-form-field {
  width: 250px;
}
@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.custom-menu {
  background-color: white !important;
}



@media screen and (max-width: 600px) {
  .fxItem {
    padding: 10px 0;
  }
  mat-sidenav-content {
    padding: 0 10px !important;
  }
}
