<mat-toolbar class="example-toolbar">
	<mat-toolbar-row>
		<button
			class="menu-button"
			[style]="isMobile ? 'display: block;' : 'display: none'"
			mat-icon-button
			(click)="snav.toggle()"
		>
			<mat-icon>menu</mat-icon>
		</button>
		<div style="display: flex">
			<div class="img-container" (click)="navigate('/')">
				<img src="assets/brand-image.png" alt="image" />
			</div>
			<h1 class="example-app-name" (click)="navigate('/')">{{ productName }}</h1>
		</div>

		<span class="example-spacer">
			<div class="search-container hide" #searchBox>
				<button mat-icon-button class="search-toggle-btn" (click)="openSearchBox()">
					<mat-icon>arrow_back</mat-icon>
				</button>
				<div class="search-box">
					<input
						#inputField
						type="text"
						[(ngModel)]="value"
						placeholder="Search"
						(keyup.enter)="search()"
					/>
					@if (value) {
					<mat-icon>close</mat-icon>
					<button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''"></button>
					}
				</div>
				<div class="search-btn" matTooltip="Search" (click)="search()">
					<mat-icon>search</mat-icon>
				</div>
			</div>
		</span>
		<button mat-icon-button class="search-toggle-btn" (click)="openSearchBox()">
			<mat-icon>search</mat-icon>
		</button>
		<button
			class="create-btn"
			mat-flat-button
			*ngIf="isAuthenticated && windowSize == 'meadium'"
			(click)="gotoVideoUpload()"
		>
			<mat-icon>add</mat-icon>
			<span>Create</span>
		</button>
		<button
			class="create-btn"
			mat-icon-button
			*ngIf="isAuthenticated && windowSize == 'small'"
			(click)="gotoVideoUpload()"
		>
			<mat-icon>add</mat-icon>
		</button>
		<button
			[matMenuTriggerFor]="notificationMenu"
			mat-icon-button
			class="notification-btn"
			*ngIf="isAuthenticated"
		>
			<mat-icon [matBadge]="notificationCount==0 ? '' : notificationCount" aria-hidden="false">notifications</mat-icon>
		</button>
		<mat-menu xPosition="before" #notificationMenu="matMenu" class="custom-menu noti-menu">
			<app-notification (onMarkAsRead)="setNotificationCount($event)" [logginUser]="logginUser" *ngIf="isAuthenticated"></app-notification>
		</mat-menu>
		<div
			class="profile-img-cover"
			[matMenuTriggerFor]="menu"
			*ngIf="isAuthenticated; else noAuth"
		>
			<img [src]="logginUser?.pictureUrl || '/assets/no-person.png'" />
		</div>
		<mat-menu #menu="matMenu" class="custom-menu profile-menu">
			<div class="menu-header">
				<div class="profile-img-cover">
					<img [src]="logginUser?.pictureUrl || '/assets/no-person.png'" />
				</div>
				<div *ngIf="logginUser" class="menu-user-info">
					<p class="text-overflow-1 name">
						{{ logginUser.firstName + ' ' + logginUser.lastName }}
					</p>
					<p class="text-overflow-1 email">{{ logginUser.email }}</p>
				</div>
			</div>
			<mat-divider></mat-divider>
			<button mat-menu-item (click)="navigate('/profile')">
				<mat-icon>account_circle</mat-icon>
				<span>Your Account</span>
			</button>
			<button mat-menu-item (click)="logout()">
				<mat-icon>logout</mat-icon>
				<span>Sign out</span>
			</button>
		</mat-menu>
		<ng-template #noAuth>
			<button mat-stroked-button class="login-btn" (click)="login()">Sign in</button>
		</ng-template>
	</mat-toolbar-row>
</mat-toolbar>
