<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-toolbar [isMobile]="mobileQuery.matches || !sidebarMode" [snav]="snav"></app-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches || !sidebarMode ? 'over' : 'side'"
      [opened]="!mobileQuery.matches && sidebarMode"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="64"
    >
      <mat-list role="list">
        <mat-list-item
          *ngFor="let item of items;"
          role="listitem"
          [ngClass]="{ 'active': activeButton === item.link }" 
          (click)="navigate(item.link)"
        >
          <mat-icon [fontIcon]="item.icon" class="mat-icon" [ngClass]="{'material-icons-outlined': activeButton !==item.link, 'material-icons': activeButton===item.link}" matListItemIcon></mat-icon>
          <p matListItemTitle>{{ item.text }}</p>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
