<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  
  <app-toolbar [isMobile]="mobileQuery.matches" [snav]="snav"></app-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
  >
    <!-- Sidebar (mat-sidenav) -->
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-list role="list">
        <mat-list-item
          *ngFor="let item of items"
          role="listitem"
          [routerLink]="item.link"
          [ngClass]="{ active: item.active == true }"
          (click)="selectItem(item)"
        >
          <mat-icon class="mat-icon" matListItemIcon>{{ item.icon }}</mat-icon>
          <p matListItemTitle>{{ item.text }}</p>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
