mat-sidenav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 64px;
  border-radius: 0;
}
mat-sidenav-content {
  padding-right: 33px;
  padding-left: 20px;
}

mat-list {
  padding: 0 0 0 15px;
}

mat-list-item {
  border-radius: 10px !important;
  height: 40px !important;
}
mat-list-item:hover {
  background-color: rgba(231, 231, 231, 0.747);
  cursor: pointer;
}

mat-list-item.active {
  background-color: rgba(231, 231, 231, 0.747);
  font-weight: bold !important;
}
mat-list-item p {
  font-size: 15px !important;
}
mat-list-item.active p {
  font-weight: 500 !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

@media screen and (max-width: 900px) {
  mat-list {
    padding: 0 13px;
  }
  mat-sidenav-content {
    padding: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  mat-sidenav {
    top: 56px !important;
  }
  mat-list {
    padding: 0 10px;
  }
}
