
mat-sidenav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 64px;
}
mat-sidenav-content {
  /* overflow: hidden; */
  padding: 0 33px;
  height: calc(100vh - 64px);
}

mat-list {
  padding: 0 10px;
}

mat-list-item {
  border-radius: 10px !important;
}
mat-list-item:hover {
  background-color: rgba(231, 231, 231, 0.747);
  cursor: pointer;
}

.active {
  background-color: rgba(231, 231, 231, 0.747);
  font-weight: bold !important;
}
