<mat-sidenav-container>
  <!-- Sidebar (mat-sidenav) -->
  <mat-sidenav [mode]="'side'" [opened]="isSidebarOpen" fxHide.lt-md>
    <mat-list role="list">
      <mat-list-item
        *ngFor="let item of items"
        role="listitem"
        [routerLink]="item.link"
        [ngClass]="{ active: item.active == true }"
        (click)="selectItem(item)"
      >
        <mat-icon class="mat-icon" matListItemIcon>{{ item.icon }}</mat-icon>
        <p matListItemTitle>{{ item.text }}</p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- Menu for smaller screens -->
  <!-- <mat-sidenav [mode]="'over'" [opened]="isMenuOpen" fxHide.gt-sm>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>App Title</span>
    </mat-toolbar>
  </mat-sidenav> -->

  <!-- <mat-sidenav [mode]="'side'" opened>
    <app-sidebar ></app-sidebar>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
