<h2 class="main-title">Channel content</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>
<div class="mat-elevation-z8">
  <!-- hidden-layer -->
  <div class="hidden-layer" *ngIf="selection.hasValue()">
    <div class="left-col">
      <p>{{this.selection.selected.length}} selected</p>
    </div>
    <div class="right-col">
      <button mat-raised-button (click)="deleteSelected()">
        Delete Selected
      </button>
      <button mat-button class="close-icon" (click)="selection.clear()">
        <mat-icon class="mat-icon">close</mat-icon>
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [checked]="selection.hasValue() && isAllSelected()"
        (change)="$event ? toggleAllRows() : null"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
        [checked]="selection.isSelected(row)"
        (change)="$event ? selection.toggle(row) : null"
        (click)="$event.stopPropagation()"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Video Column -->
    <ng-container matColumnDef="video">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Video</th>
      <td mat-cell *matCellDef="let element" style="max-width: 325px">
        <div class="video-content">
          <div class="video-cell">
            <img [src]="element.thumbnailUrl" alt="" />
          </div>
          <div class="video-details">
            <h3>
              {{ element.title }}
            </h3>
            <div class="description">
              <p>
                {{ element.description }}
              </p>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Visibility Column -->
    <ng-container matColumnDef="visibility">
      <th mat-header-cell *matHeaderCellDef >Visibility</th>
      <td mat-cell *matCellDef="let element">{{ element.videoStatus }}</td>
    </ng-container>

    <!-- Date Column -->
    <!-- <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container> -->

    <!-- Viwes Column -->
    <ng-container matColumnDef="views">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Views</th>
      <td mat-cell *matCellDef="let element">{{ element.viewsCount }}</td>
    </ng-container>

    <!-- Comments Column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
      <td mat-cell *matCellDef="let element">{{ element.commentsCount }}</td>
    </ng-container>

    <!-- Likes Column -->
    <ng-container matColumnDef="likes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Likes</th>
      <td mat-cell *matCellDef="let element">{{ element.likesCount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
