:host {
  display: inline-block;
}
vg-player {
  width: 100%;
  border-radius: 14px;
  aspect-ratio: 16 / 9; /* Aspect ratio of 16:9, adjust as needed */
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

vg-time-display {
  font-size: 14px;
  width: 45px;
}
vg-controls {
  background-color: #00000000 !important;
}
vg-controls span {
  font-size: 14px; /* Adjust size as needed */
  color: #ffffff; /* Change color to match your design */
  display: flex;
  align-items: center;
  user-select: none;
}
vg-scrub-bar,
vg-scrub-bar-buffering-time,
vg-scrub-bar-current-time {
  height: 3px !important;
}
::ng-deep vg-scrub-bar-current-time .background {
  background-color: red !important;
}
