<vg-player *ngIf="videoSource" (onPlayerReady)="onPlayerReady($event)">
  <vg-buffering></vg-buffering>

  <vg-scrub-bar vgFor="my-video" [vgSlider]="true">
    <vg-scrub-bar-buffering-time vgFor="my-video"></vg-scrub-bar-buffering-time>
    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
  </vg-scrub-bar>
  <vg-controls [vgAutohide]="true" [hidden]="!videoSource">
    <vg-play-pause></vg-play-pause>

    <vg-time-display
      vgFor="my-video"
      [vgProperty]="'current'"
      [vgFormat]="'mm:ss'"
    ></vg-time-display>
    <span> / </span>
    <vg-time-display
      vgFor="my-video"
      [vgProperty]="'total'"
      [vgFormat]="'mm:ss'"
    ></vg-time-display>

    <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>
    <vg-mute></vg-mute>
    <vg-volume></vg-volume>

    <vg-playback-button
      vgFor="my-video"
      [playbackValues]="['1', '2', '4']"
    ></vg-playback-button>

    <app-quality-selector
      [bitrates]="hlsBitrates"
      (onBitrateChange)="vgHls.setBitrate($event)"
    ></app-quality-selector>

    <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video
    #media
    [vgMedia]="$any(media)"
    #vgHls="vgHls"
    [vgHls]="videoSource"
    (onGetBitrates)="hlsBitrates = $event"
    id="my-video"
    crossorigin
  ></video>
</vg-player>
