<div fxLayout="row" class="main-container">
	<div fxFlex class="video-details-container">
		<app-video-player
			[videoSource]="video?.videoUrl || ''"
			class="video-player"
		></app-video-player>
		<div class="meta-data">
			<div class="video-title">
				<h1>
					{{ video?.title }}
				</h1>
			</div>
			<div fxLayout="row wrap">
				<div fxFlex="50%">
					<mat-card-header>
						<div
							mat-card-avatar
							class="example-header-image"
							[ngStyle]="{
								'background-image': video?.channel?.channelImage
									? video?.channel?.channelImage
									: 'url(\'/assets/no-person.png\')'
							}"
							[ngClass]="{ skeleton: isLoading }"
						></div>
						<div class="details">
							<mat-card-title [ngClass]="{ skeleton: isLoading }">
								<a href="/">{{ video?.channel?.name }}</a>
							</mat-card-title>
							<mat-card-subtitle>
								{{ video?.channel?.subscribersCount + ' subscribers' }}
							</mat-card-subtitle>
						</div>
						<button
							*ngIf="!video?.channel?.isUserSubscribe"
							class="subscribe-button"
							mat-flat-button
							color="warn"
							(click)="subscribeChannel()"
						>
							Subscribe
						</button>
						<button
							*ngIf="video?.channel?.isUserSubscribe"
							class="unsubscribe-button"
							mat-flat-button
							(click)="unSubscribeChannel()"
						>
							Unsubscribe
						</button>
					</mat-card-header>
				</div>
				<div fxFlex="50%" fxLayoutAlign="end">
					<div class="actions">
						<span class="like-dislike-btn-group">
							<button class="like-btn" (click)="likeVideo()">
								<div class="right-border">
									<mat-icon
										[fontIcon]="
											video?.userLikeStatus?.isUserLike
												? 'thumb_up_alt'
												: 'thumb_up_off_alt'
										"
									></mat-icon>
									{{ video?.likesCount !== 0 ? video?.likesCount : '' }}
								</div>
							</button>
							<button class="dislike-btn" (click)="dislikeVideo()">
								<mat-icon
									[fontIcon]="
										video?.userLikeStatus?.isUserDislike
											? 'thumb_down_alt'
											: 'thumb_down_off_alt'
									"
								></mat-icon>
								{{ video?.dislikesCount !== 0 ? video?.dislikesCount : '' }}
							</button>
						</span>
						<button (click)="downloadVideo()">
							<mat-icon>vertical_align_bottom</mat-icon>
							Download
						</button>
						<button id="menu-btn">
							<mat-icon [matMenuTriggerFor]="menu">more_horiz</mat-icon>
						</button>
						<mat-menu #menu="matMenu" class="custom-menu">
							<button
								mat-menu-item
								*ngFor="let item of cardMenuItems"
								[disabled]="item.isDisable"
								(click)="handleMenuClick(item.name)"
							>
								<mat-icon>{{ item.icon }}</mat-icon>
								<span>{{ item.name }}</span>
							</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</div>

		<div class="video-description" >
			<p [ngClass]="{ expanded: isExpanded }">
        {{video?.viewsCount}} views  Jun 29, 2024
				{{ video?.description }}
			</p>
			<span class="more-btn" (click)="toggleExpand()" *ngIf="video?.description">
				{{ isExpanded ? 'less' : '...more' }}
			</span>
		</div>
		<app-comment [videoId]="videoId"></app-comment>
	</div>
	<div class="related-videos-container" fxFlex="402px">
		<div fxLayout="column" fxLayoutGap="10px">
			<div class="fxItem" fxFlex="100%" *ngFor="let video of videoList">
				<app-video-card
					[video]="video"
					[isLoading]="isLoading"
					cardSize="small"
				></app-video-card>
			</div>
		</div>
	</div>
</div>
